@model IEnumerable<Category>

@{
    ViewData["Title"] = "Index";
}


<h1>Index</h1>
<button id="create-category-button" class="btn btn-secondary mt-2 mb-4 btn-lg">
    <i class="bi bi-plus-circle-dotted"></i>
    Add Category
</button>
<div id="create-popup">
    <h3 class="text-dark">Add new category</h3>
    <partial name="_CreateCategoryPartial" model="new Category()"/>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id})
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts{
    <script src="~/js/createcategory.js" asp-append-version="true"></script>
}