@model IEnumerable<Game>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Games</h1>

@if (!Model.Any())
{
    <div class="alert alert-dismissible alert-warning">
        <h4 class="alert-heading">No Games Available!</h4>
        <p class="mb-0">No Games added yet ...!</p>
    </div>
}

else
{
    <div class="row mt-5">
        @foreach (var game in Model)
        {
            <div class="col-lg-3 col-md-6">
                <a asp-area="Administrator" asp-controller="Games" asp-action="Details" asp-route-id="@game.GameId" class="text-decoration-none">
                    <div class="card border-success mb-3" style="max-width: 20rem;">
                        <div class="card-body" style="background-image: url(@($"{Settings.imagePath}/{game.CoverImage}")); background-size: cover; background-position: center center; height: 500px;">
                            <div class="h-100 d-flex align-items-end">
                                <h3><span class="badge bg-success ">@game.Category.Name</span></h3>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center fs-10">

                            <h5>@game.Name</h5>
                            <div>
                                @foreach (var gameDevice in game.GameDevices)
                                {
                                    <i class="@gameDevice.Device.Icon justify-icon me-2 fs-4"></i>
                                }
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        }
    </div>

}